.u-section-1 .u-sheet-1 {
  min-height: 904px;
}

.u-section-1 .u-form-1 {
  height: 409px;
  margin: 435px -26px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}