.u-block-5018-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5018-3 {
  position: absolute;
  left: 0;
}

.u-block-5018-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/728142.jpg");
  background-position: 50% 50%;
  min-height: 1154px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 0;
}

.u-section-1-1 .u-image-1 {
  background-image: url("images/g5a0b8bad3fc0f6104b71dbd9879170ca8777da7c5a0ef74636dd1bded83f90bf2f2479a653c9c16d6759fd7bf1c3835bcf42fa4088c80a62ef4982156261ce88_1280.jpg");
  background-position: 50% 50%;
  min-height: 413px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1-1 .u-text-1 {
  font-size: 5.625rem;
  font-weight: 700;
  font-family: Cabin;
  line-height: 1;
  margin: 64px -26px 0 0;
}

.u-section-1-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1788px);
  margin: -39px auto 3px calc(((100% - 1140px) / 2) + -648px);
}

.u-section-1-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  grid-gap: 10px;
}

.u-section-1-1 .u-image-2 {
  background-image: url("images/g7c42b6ee0180fb0aea1dd8ce74ff5e0bcd49e5de7f2f0707056e9555faf87c5d4c5e19eac01faa1e89a153c7f7444233794c76e4bec68e884d748f66d1df12d6_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-1-1 .u-image-3 {
  background-image: url("images/gb3ea4df3f9f27e32d4329ad717cf6008a143964ccb69c8902a821e9a16bc45a021a5419ac668057b917960a25cda473a3f9bff0e4f0669065300c9394184aac8_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 3px 0;
}

.u-section-1-1 .u-image-4 {
  background-image: url("images/g7a1ec321dcdb7314351eae27173f9a2e88a3389b0afde7d4d82d3fdbad9e1385fc7927bfc9f638681a10894c0c874fefcb9e41b4d2546ac786f0bb47bb0e9bab_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-5 {
  padding: 3px 0;
}

.u-section-1-1 .u-image-5 {
  background-image: url("images/g9f1811108ea5c5226cb0d102216a86ca693ad50a00098e3d2a71920ba99fbbc8e520846b16cc545347e5d90c8cf6493684b4ffb7283935556d14512364abbf3a_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-6 {
  padding: 3px 0;
}

.u-section-1-1 .u-image-6 {
  background-image: url("images/g275de90f692b4bfec06a3a37cfd4d502983db868b36a617ead27df606300ae076ccc7c2f589954692c3db9ca4c7440aee7eda38338b854a098a52ae0541cfaf8_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-7 {
  padding: 3px 0;
}

.u-section-1-1 .u-image-7 {
  background-image: url("images/gb1f091a43d5041196de4a99a8e3631a72cd0d710496f817e7e232cccdd9f31df67327db5f7c279e186dba619e5495186c23600699b99bd436a1b7f3d3521c26a_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-8 {
  padding: 3px 0;
}

.u-section-1-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 599px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 341px;
    background-position: 50% 0%;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 5rem;
    margin-right: 0;
  }

  .u-section-1-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 75px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 261px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666664px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666664px));
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-image-1 {
    min-height: 563px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-top: 85px;
    padding-right: 70px;
    padding-left: 50px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.999998px);
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-image-1 {
    min-height: 354px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-top: 55px;
    padding-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
} .u-section-2 {
  min-height: 559px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 29px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 530px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 67px 174px 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 110px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: 67px 174px 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 110px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 67px 174px 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 110px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 67px 174px 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 110px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 34px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 367px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 626px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 674px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 29px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: 137px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
    margin-right: 137px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
    margin-right: 137px;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: 137px;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1122px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-icon-1 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 35px;
    margin-right: 35px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1775px;
}

.u-section-3 .u-group-1 {
  width: 482px;
  min-height: 740px;
  height: auto;
  margin: 20px auto 0 72px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 19px 19px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 18px 0 20px;
}

.u-section-3 .u-image-1 {
  width: 422px;
  height: 555px;
  object-position: 5.56% 50%;
  margin: -683px 104px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 51px 84px 0 614px;
}

.u-section-3 .u-image-2 {
  height: 338px;
  width: 514px;
  margin: -450px auto 0 72px;
}

.u-section-3 .u-group-2 {
  width: 267px;
  min-height: 479px;
  height: auto;
  margin: 132px auto 0 136px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 22px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 404px 30px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: -581px 546px 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 498px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 414px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 278px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-left: 58px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 98px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 26px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 447px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 224px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    margin-left: 73px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 707px;
}

.u-section-4 .u-image-1 {
  width: 539px;
  height: 563px;
  margin: 28px auto 0 28px;
}

.u-section-4 .u-list-1 {
  width: 550px;
  margin: -542px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 563px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-9 {
  text-align: left;
  margin: 20px 858px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-form-1 {
  width: 570px;
  margin: 30px 858px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 457px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 658px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-9 {
    margin-right: 438px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 1px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 258px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 355px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -334px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 58px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-5 .u-image-1 {
  width: 524px;
  height: 401px;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 280px;
  margin: -388px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  line-height: 1.2;
  font-size: 3.75rem;
  font-family: Cabin;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-image-2 {
  width: 819px;
  height: 514px;
  margin: 48px auto 0 0;
}

.u-section-5 .u-group-2 {
  min-height: 340px;
  width: 483px;
  background-image: none;
  margin: -189px 73px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -271px auto 81px 31px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-5 .u-group-1 {
    width: 396px;
    min-height: 344px;
    margin-top: -418px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -94px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -365px;
    margin-bottom: 158px;
    margin-left: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1761px;
  }

  .u-section-5 .u-group-1 {
    min-height: 236px;
    margin-top: -670px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-image-2 {
    height: 521px;
    width: 626px;
    margin-top: 370px;
  }

  .u-section-5 .u-group-2 {
    min-height: 374px;
    margin-top: -74px;
  }

  .u-section-5 .u-shape-1 {
    width: 192px;
    height: 192px;
    margin-top: 8px;
    margin-bottom: -209px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-5 .u-image-1 {
    width: 414px;
    height: 295px;
    margin-top: 314px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -564px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 367px;
    width: 481px;
    margin-top: 280px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -50px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 59px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-5 .u-image-1 {
    height: 201px;
    width: 282px;
    margin-top: 45px;
  }

  .u-section-5 .u-group-1 {
    min-height: 136px;
    margin-top: -360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 229px;
    width: 280px;
    margin-top: 192px;
  }

  .u-section-5 .u-group-2 {
    min-height: 408px;
    width: 282px;
    margin-top: -20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-shape-1 {
    width: 148px;
    height: 148px;
    margin-top: 35px;
    margin-bottom: -114px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 403px;
}

.u-section-6 .u-group-1 {
  min-height: 343px;
  margin: 30px auto 30px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-6 .u-line-1 {
  width: 147px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  width: 715px;
  margin: 20px auto 0;
}

.u-section-6 .u-form-1 {
  height: 47px;
  width: 570px;
  margin: 39px auto 0;
}

.u-section-6 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-6 .u-group-1 {
    min-height: 470px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-form-1 {
    height: 136px;
    width: 468px;
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }
}